{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/pt-root-ui">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <header>
        <div class="block block-dark">
        <nav>
            <ul class='nav'>
              {% for i in infopages %}
                <li class="nav-item"><a class="nav-link" href="{% url 'infopage' i.slug %}">{{i.title}}</a></li>
              {% endfor %}
            </ul>
          </nav> 
    <nav>

        <ul class='nav'>
            <li class="nav-item"><img class="nav-img" src="{% static instagram.icon %}" alt="{{instagram.name}}" width="15" height="15">
              <a class="nav-link" href="{{instagram.link}}">logo</a>
            </li>
            <li class="nav-item"><img class="nav-img" src="{% static whatsapp.icon %}" alt="{{whatsapp.name}}" width="15" height="15">
              <a class="nav-link" href="{{whatsapp.link}}">Написать нам</a>
            </li>
          </ul>
        </nav>
    </div>

    <div class="poisk">
      <script src="{% static 'search.js' %}"></script>
        <p class="poisk-deskription">logo</p>
          <form action="{% url 'search' %}" method="get">
         <div class="drop_arm">
      <button class="poisk-button" id="callback-button" type="button"><img class="poisk-img" src="{% static 'img/Component.svg' %}" alt="menu" width="15" height="16" >
        <a class="poisk-link" href="{% url 'catalog' %}">КАТАЛОГ</a></button>
        
        <input class="poisk-input" type="search" id="testInput" onsearch = "testFunction()" name="q">


       <div class="drop_menu">
          <ul class="topmenu" id="catalog"></ul>
       </div>


      </div>
      </form>
      
      <ul class='van'>
        <!-- <li class="van-item"><img class="van-img" src="{% static 'img/Vector(1).svg' %}" alt="heart" width="20" height="20" >
          <a class="van-link" href="">Избранное</a></li>
        <li class="van-item">
          <img class="van-img" src="{% static 'img/user 3.svg' %}" alt="people" width="20" height="20" ><a class="van-link" href="#openModal4">Вход/Регистрация</a>
        </li> -->
        {% if user.is_authenticated %}
          <li class="van-item"><img class="van-img" src="{% static 'img/Vector(1).svg' %}" alt="heart" width="20" height="20" >
            <a class="van-link" href="{% url 'favorite' %}">Избранное</a></li>
          <li class="van-item">
            <img class="van-img" src="{% static 'img/user 3.svg' %}" alt="people" width="20" height="20" >
            <a class="van-link" href="{% url 'logout' %}">Выход</a>
          </li>
          <li class="van-item"><img class="van-img" src="{% static 'img/basket 3.svg' %}" alt="basket" width="20" height="20" >
            <a class="van-link" href="{% url 'cart' %}">{{user.cart_full_price}} ₽ / {{user.cart_amount}} шт.</a>
          </li>
        {% else %}
        <li class="van-item"><img class="van-img" src="{% static 'img/Vector(1).svg' %}" alt="heart" width="20" height="20" >
          <a class="van-link" href="#openModal4">Избранное</a></li>
        <li class="van-item">
          <img class="van-img" src="{% static 'img/user 3.svg' %}" alt="people" width="20" height="20" >
          <a class="van-link" href="#openModal4">Вход/Регистрация</a>
        </li>
        <li class="van-item"><img class="van-img" src="{% static 'img/basket 3.svg' %}" alt="basket" width="20" height="20" >
          <a class="van-link" href="#openModal4">Корзина</a>
        </li>
        {% endif %}
      </ul>      
      </div>

    </header>
    <div class="wrapper">
      <div class="content">
        {% block content %}{% endblock %}

      </div>
    <div class="footer">
        <div class="tblock tblock-dark">
          <end>
            <ul class='end'>
              <li class="end-name">logo</li>
              <li class="end-item"><button class="end-button" type="submit"><a class="end-link" href="#openModal3">СВЯЗАТЬСЯ С НАМИ</a></button></li>
              <li class="end-item"><a class="end-link" href="{{settings.privacy_policy.url}}">Политика конфиденциальности</a></li>
              <li class="end-item"><a class="end-link" href="{{settings.terms_of_use.url}}">Пользовательское соглащение</a></li>
          </ul>
          </end>
          <ends>
            <ul class='ends'>
              <li class="ends-item">КАТАЛОГ</li><br>
              {% for i in categories|slice:':4' %}
                <li class="ends-item"><a class="ends-link" href="{% url 'category' i.slug %}">{{i.name}}</a></li>
              {% endfor %}
              <br><br>
              {% for i in categories|slice:'4:8' %}
                <li class="ends-item"><a class="ends-link" href="{% url 'category' i.slug %}">{{i.name}}</a></li>
              {% endfor %}
              
          </ul>
          </ends>
          <end>
            <ul class='end'>
              <li class="end-item">О КОМПАНИИ</li><br>
              {% for i in infopages %}
                <li class="end-item"><a class="end-link" href="{% url 'infopage' i.slug %}">{{i.title}}</a></li>
              {% endfor %}
          </ul>
          </end>
          <end>
            <ul class='end'>
              <li class="end-item">КОНТАКТЫ</li><br>
              <li class="end-item">{{settings.phone}}</li>
              <li class="end-item">{{settings.email}}</li>
              <li class="end-item">
                {% for i in contacts %}
                  <a href="{{i.link}}"><img class="end-img" src="{% static i.icon %}" alt="{{i.name}}"></a>
                {% endfor %}
                <!-- <img class="end-img" src="{% static 'img/Vector1.svg' %}" alt="telega"><img class="end-img" src="{% static 'img/insta.svg' %}" alt="instagram">    
              <img class="end-img" src="{% static 'img/Vk.svg' %}" alt="vk"><img class="end-img" src="{% static 'img/Vector.svg' %}" alt="youtube"> -->
              </li><br><br><br>
          </ul>
          </end>
        </div>
        <div class="miniblock">
          <p>© logo, 2022</p>
          <p>Developed by F E I P</p>
        </div>
      </div>
    </div>

    <div id="openModal3" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title mtt_left">ОБРАТНАЯ СВЯЗЬ</h3>
            <a href="#close" title="Close" class="closes">×</a>
          </div>
          <div class="modal-body">    
            <p class="dsleft">Ваше имя</p>
            <input class="modal-intext" type="text">
            <p class="dsleft" required="">Телефон</p>
            <input class="modal-intext" type="tel">
            <p class="dsleft">E-mail</p>
            <input class="modal-intext" type="email">
            <p class="dsleft">Сообщение</p>
            <textarea class="modal-intext bigbl"></textarea>
            <button type="submit" class="modal-button btnbig"><a class="modal-link lkcenter" href="">ОТПРАВИТЬ</a></button>
            <p class="modal-description">Нажимая кнопку "Отправить", вы принимаете 
              <a href="{{settings.privacy_policy.url}}">политику конфиденциальности</a> 
              и 
              <a href="{{settings.terms_of_use.url}}">пользовательское соглашение</a></p>
          </div>
        </div>
        </div>
      </div>

      <div id="openModal4" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Потвердите номер телефона</h3>
              <a href="#close" title="Close" class="closes">×</a>
            </div>
            <div class="modal-body">    
              <p class="modal-subtitle">Мы отправим СМС с кодом потверждения</p>
              <form action="{% url 'getcode' %}" method="POST">
                {% csrf_token %}
                <!-- <ul class="modal-intext">
                  <li>+7</li>
                  <li><input class="modal-intext" type="tel" name="phone" maxlength="10"></li>
                </ul> -->
                <span>+7</span>
                <input class="modal-intext" type="tel" name="phone" maxlength="10" required>
                <button type="submit" class="modal-button"><span class="modal-link">ПОЛУЧИТЬ КОД</span></button>
              </form>
                <!-- <a class="modal-link" href="#openModal5"></a></button> -->
              <p class="modal-description">&nbsp;&nbsp;&nbsp;Нажимая на кнопку вы принимаете 
                <a href="{{settings.privacy_policy.url}}">политику конфиденциальности</a> 
                и 
                <a href="{{settings.terms_of_use.url}}">пользовательское соглашение</a></p>
            </div>
          </div>
        </div>
      </div>

      <div id="openModal5" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title mtt_center">Введите код</h3>
              <a href="#close" title="Close" class="closes">×</a>
            </div>
            <div class="modal-body">    
              <p class="modal-subtitle msb_center">Мы отправили код на номер +7{{user_phone}}</p>
              <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
                <input class="modal-password" type="password" name="code", maxlength="4">
                <button type="submit" class="modal-button">
                  <span class="modal-link">ОТПРАВИТЬ КОД</span>
                </button>
              </form>
              <p class="modal-description">Вводя код, вы принимаете 
                <a href="{{settings.privacy_policy.url}}">политику конфиденциальности</a> 
                и 
                <a href="{{settings.terms_of_use.url}}">пользовательское соглашение</a></p>
            </div>
          </div>
          </div>
        </div>

        

        <script>
          // data = "{% url 'api_catalog' %}"
          
          jQuery.getJSON("{% url 'api_catalog' %}", function(data) {

            function recursive(item) {
              // console.log(item)
              var tree = `<li class="submenu"><a href="${cat_url+data[item]["slug"]}">${data[item]["name"]}</a>`
                if (data[item]["children"].length > 0) {
                  // console.log(data[item]["children"]+' has children')
                  tree += `<ul class="topmenu">`
                  $.each(data[item]["children"], function(child) {
                    tree += recursive(data[item]["children"][child]);
                  });
                  tree += `</ul>`
                }
              tree += `</li>`
              return tree
            }
            
            cat_url = "/category/"
            // console.log(cat_url)
            // console.log(data);
            var result = ''
            $.each(data, function(i) {
              if (!data[i]["parent"]) {
                result += recursive(i)
              }
            });

            catalog = document.getElementById('catalog')
            catalog.innerHTML += result
            
          });
          // data = fetch("{% url 'api_catalog' %}");
          // console.log(data);
          // var data = JSON.parse('{{catalog}}'')
          // console.log(data)
          // window.alert('{{catalog}}')
        </script>

    </body>
</html>