<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Категориии
    {% for i in cat %}
        <h1>{{ i.public_name }}</h1>
        <a href="http://localhost:8000/category_list/{{ i.slug }}">{{ i.slug }}</a> -->
        <img src="{{ i.image.url }}"/>
        <!--    <h1>{{ i.image.url }}</h1>  -->
    {% endfor %} -->
    {{ products }}
</body>
</html>