{% extends 'main/base.html' %}

{% block content %}
{% load static %}
<guide>
    <ul class='guide'>
        <li class="guide-item"><a class="guide-link" href="{% url 'main' %}">Главная</a></li>
        <li class="guide-item">/</li>
        <li class="guide-item"><a class="guide-link" href="{% url 'catalog' %}">Каталог</a></li>
        <li class="guide-item">/</li>
        {% for i in product.category_path %}
          <li class="guide-item"><a class="guide-link" href="{% url 'category' i.slug %}">{{i.name}}</a></li>
          <li class="guide-item">/</li>
        {% endfor %}
        <li class="guide-item">{{product.name}}</li>
    </ul>
   </guide>
   <div class="carta">
   <div class="carta-item scrool">
    <ul>
        <li class="scrool-item"><img class="scrool-icon" src="{% static 'img/top.svg' %}" alt="top"></li>
        {% for i in product.images.all %}
          {% if not forloop.first %}
            <li class="scrool-item"><img class="scrool-img" src="{{i.image.url}}" width="180" height="242" alt="one"></li>
          {% endif %}
        {% endfor %}
        <li class="scrool-item"><img class="scrool-icon" src="{% static 'img/bottom.svg' %}" alt="bottom"></li>
    </ul>
   </div>
   <div class="carta-item migm">
    {% with i=product.images.all|first %}
      <!-- добавить дефолтную картинку -->
      <img src="{{i.image.url}}" alt="main" width="464" height="612">
      {% if product.is_new %}
        <span class="migm-span">NEW</span>
      {% endif %}
    {% endwith %}
   </div>

   <form action="/add_to_cart" method="POST">
   {% csrf_token %}

    <input type="hidden" name="code" value="{{product.code}}">

   <div class="carta-item info">
    <h2 class="info-title">{{product.name}}</h2>
    <p class="info-description"><b>Артикул:</b> {{product.code}}</p>
    <p class="info-description">{{product.description}}</p>

    <p class="info-subtitle">РАЗМЕР:</p>
    
    <select class="info-select" name="size">
      {% for i in product.sizes %}
      <option value={{i}}>{{i}}</option>
      {% endfor %}
    </select>
    <p class="info-descriptions">Не можете подобрать размер?<br> <a class="info-link" href="">Запишитесь на примерку в наш шоурум</a></p>
     

    <p class="info-subtitle">ЦВЕТ:</p>

    <div class="radioone">
    {% for i in product.colors %}
      <input 
      {% if forloop.first %}
      checked="checked"
      {% endif %}
      class="radioone-input" type="radio" name="color" value="{{forloop.counter0}}">
        <!-- <span class="radioone-fake"></span> -->
        <label class="radioone-label" for="ri1">{{i}}</label>
      <br>
    {% endfor %}
    </div>

   <div class="blockprice">
    <p class="info-price">{{product.price}} ₽</p>

    <div class="counter">
      <button class="counter-minus" type="button" onclick="this.nextElementSibling.stepDown()">-</button>
      <input  type="number" min="0" max="10" value="1" readonly class="counter-raz" name="amount">
      <button class="counter-plus" type="button" onclick="this.previousElementSibling.stepUp()">+</button>
    </div>
      <button class="info-button" type="submit">В КОРЗИНУ</button>
    </div>

   </div>
  </form>

   </div>
{% endblock %}